<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page: Recipes</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a th:href="@{index.html}">Home</a></li>
            <li><a th:href="@{/ingredients}">Ingredients</a></li>
        </ul>
    </nav>
</header>
<main>
    <div>
        <h2>List of recipes</h2>

        <article th:each="recipe : ${recipes}">
            <h3 th:text="${recipe.title}"></h3>
            <p th:text="${recipe.timestamp}">Published at: </p>
            <p>Categories: </p>
            <ul th:each="category: ${recipe.categories}">
                <li th:text="${category.description}">Category description</li>
            </ul>
            <p th:text="${recipe.notes.recipeNotes}">Recipe description</p>
            <p>Prep Time: <span th:text="${recipe.prepTime}"></span></p>
            <p>Total Time: <span th:text="${recipe.cookTime}"></span></p>
            <p>Servings: <span th:text="${recipe.servings}"></span></p>
            <p>Ingredients:</p>
            <ul th:each="ingredientQuntity: ${recipe.ingredients}">
                <li th:text="${ingredientQuntity.ingredient.name} + ${ingredientQuntity.quantity} + ${ingredientQuntity.unitOfMeasure.name}">Ingredient description</li>
            </ul>

            <p th:text="${recipe.directions}">Preparations steps</p>
            <a th:href="${recipe.url}">more info</a>
        </article>
    </div>
</main>





</body>
</html>